@model BookStore.Domain.Concrete.EmailSettings
@{
    ViewBag.Title = "BookStore : Order Completed";
}

<h2>Thank You</h2>
Your Order Submitted and we send you an Email now on Address :<b>@Model.MailToAddress</b>