
@{
    ViewBag.Title = "PageNotFound";
}

<h2>PageNotFound</h2>
<div class="well text-center">
    <span class="glyphicon glyphicon-alert"></span><span class="lead">
        The Page Url Is Not Correct , try to correct your url or go
        <a class="btn btn-primary" href="/">Home Page</a>
    </span>
</div>


